/* this is a code snippet by @C4NDL3W4X! no credit needed, but feel free to direct back to me when asked ;) */
.w {
font-family: comic sans ms;
color: white;
position: fixed;
bottom: 20px;
left: 0;
text-shadow: 2px 2px #F1599B;
font-size: 18px;
display: flex;
animation-name: across, float;
animation-iteration-count: infinite, infinite;
animation-duration: 15s, 3s;
animation-play-state: running, running;
transform-origin: bottom;
}
.w img {
height: 100px;
bottom: 0;
background-color: #;
display: block;
}
.w p {
display: inline-block;
margin-bottom: 5px;
margin-top: auto;
margin-right: 5px;
}
@keyframes across {
0% {left: -200px}
100% {left: 1400px; right: -150px}
}
@keyframes float {
0% {transform: translate(0px, 0px)}
50% {transform: translate(0px, -80px)}
100% {transform: translate(0px, 0px)}
}
